//================================================//
// All color definitions are stored here          //
//================================================//


$black: #000;
$grey: #595959;
$dark-grey: #262626;
$light-grey: #A6A6A6;
$lightest-grey: #F4F4F4;
$white: #FFF;
$white-trans: rgba(255,255,255, 0.7);
$blue: #3295D2;
$red: #e30713;
